<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table ,td, th{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1>display date in servore</h1>

<% if(details !== null){ %>
  <table>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>User Password</th>
        <th>User Delete</th>
        <th>User Update</th>


    </tr>
<% details.forEach ((item )=>{%>
 <tr>
    <td><%= item._id%></td>
    <td><%= item.name%></td>
    <td><%= item.email%></td>
    <td><%= item.password%></td>
<td> <a href="/delete/<%= item._id%>">delete</a></td>
<td> <a href="/update/<%= item._id%>">update</a></td>

 </tr>

<%})%>

  </table>
<%} %>


</body>
</html>